:local(.styles){
  padding-top: 12px;

  @media (max-width: 500px) {
    margin-top: 20px;
  }

  .account-view {
    margin-bottom: 60px;
    margin: auto;
    max-width: $viewWidthLg;
    min-height: 700px;
    padding-top: 12px;
    padding-bottom: 20px;
  }
  .top-item {
    padding-top: 0px!important;
  }
  .account-paper {
    min-height: inherit;
  }
  .headerIcons {
    height: 75%;
    width: 75%;
    color: $white;
  }
  .subscription-item {
    width: 100%;
  }

  .headerSVG {
    height: inherit;
  }

  .icon {
    margin-top: 40px;

    svg {
      font-size: 350%;
      opacity: 0.1;
    }
  }
}
