:local(.styles) {
    .question-title{
        margin-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
      }
    @media (max-width: 450px) {
        .question-title{
          font-size: large;
        }
      }
}
