:local(.styles) {
  .question-array {
    color: black;
  }
  .checked {
    color: black;
  }
  .MuiSvgIcon-root {
    fill: black;
  }
  .MuiTypography-body1 {
    font-family: 'CenturyGothic-Bold', sans-serif;
  }
}
