:local(.styles) {
  .MuiTypography-body1 {
    color: black;
    font-family: 'CenturyGothic-Bold', sans-serif;
  }
  .MuiCheckbox-root {
    color: black;
  }
  .MuiCheckbox-colorSecondary.Mui-checked {
    color: black;
  }
  .MuiFormLabel-root {
    color: black;
  }
}
