:local(.styles) {
  .top-bar {
    background-color: $primary;
    color: $white;
    width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    padding: 10px;
  }
  .bottom-bar {
    background-color: $white;
  }
  .image {
    height: 80px;
    width: 80px;
    right: 125px;
    top: -40px;
  }
  .border {
    width: inherit;
    height: inherit;
  }
  .avatar {
    width: inherit;
    height: inherit;
  }
  .account-icon {
    font-size: 7rem;
  }
}
