:local(.styles) {

  .landing-h2 {
    color: $white;
  }

  .section {
    text-align: center;
  }
  .process-section {
    background-color: $creolGrey;
  }
  .benefits-section {
    background-color: $primary;
  }
  .faq-section {
    background-color: $primary;

  }
  .products-section {
    background-color: $primary;
  }
  .creol-footer {
    margin: 2px;
    justify-content: flex-end;
  }
  .question-title {
    font-weight: 700;
  }


}
