:local(.styles) {

  .landing-h2 {
    color: $white;
  }

  .section {
    text-align: center;
  }
  .process-section {
    background-color: $creolGrey;
  }
  .benefits-section {
    background-color: $primary;
  }
  .faq-section {
    background-color: $primary;

  }
  .products-section {
    background-color: $primary;
  }
  .creol-footer {
    margin: 2px;
    justify-content: flex-end;
  }
  .question-title {
    font-weight: 700;
  }
  .question-card {
    padding: 32;
    border-radius:'0.8rem';
    margin: 10;
    margin-top: 100px;
  }
  @media (max-width: 500px) {
    .question-card {
      margin-top: 0px;
    }
  }


}
