/******* Theme *******/
$primary      : #33972d;
$secondary    : #14c3b9;
$error        : #b00020;
$theme1       : #33732f;
$margin       : 20px;
$radius       : 5px;
$disabled     : #9e9e9e;

/******* Colors *******/
$darkGrey     : #2d2e31;
$darkGrey35   : #212121;
$grey35       : #414141;
$black        : black;
$black35      : #101010;
$black65      : #212121;
$white        : white;
$white35      : #d4d2d2;
$blue         : #3f51b5;
$lightBlue    : #0096ef;
$lightGrey    : #414141;
$lighterGrey  : #505050;
$green        : #4caf50;
$beige        : #f4f3ef;
$creolbkgd    : #f8f9fb;
$creolCream   : #fffcfc;
$creolGrey    : #9b99a0;
$nftbkgd      : #f5f2f2;
$buttonColor  : #33972d;

/******* Buttons *******/
$buttonRadius : 20px;

/****** Sizes *********/
$viewWidthLg : 1200px;
