:local(.styles) {
  .email-button {
    color: $white;
    background-color: $secondary;
    border-radius: 15px;
    min-width: 160px;
    font-family: CenturyGothic-Bold,sans-serif;
    font-size: 14px;
    line-height: 1.3;
    text-transform: none;
  }
  .email-validator .MuiInput-root{
     color: white;
   }
  .email-validator .MuiFormLabel-root{
    color: white;
  }
  .sending-text {
    color: white;

  }
  .sent-text {
    color: lawngreen;
  }
}
