:local(.styles) {
  .MuiSelect-select.MuiSelect-select {
    color: black;
    font-family: 'CenturyGothic-Bold', sans-serif;
    border-bottom: 2px solid black;
  }
  .MuiSelect-icon{
    color: black;
  }

}
