:local(.styles) {
  .MuiSelect-select.MuiSelect-select {
    color: #fffcfc;
    font-family: 'CenturyGothic-Bold', sans-serif;
    border-bottom: 2px solid white;
  }
  .MuiSelect-icon{
    color: #fffcfc;
  }

}
