:local(.styles) {
  .MuiButton-root {
    color: black;
    font-family: 'CenturyGothic-Bold', sans-serif;
    border-color: black;
    border-radius: 10px;
  }
  .option-text {
    text-align: end;
    width: 300px;
  }
  .option-label {
    font-size: 18px;
    color: black;
  }
  .option-button {
    align-items: start;
    text-align: left;
  }
  .counter {
    border: 0;
    background-color: #F7F7F7;
  }
  .counter-button {
    border-color: white;
  }
  @media (max-width: 450px) {
    .counter{
      width: 122px
    }
  }
}
