:local(.styles) {
  .text-input {
  }
  .MuiFormLabel-root {
  }
  .Mui-focused{
    border-radius: 10px;
  }
  .MuiInputBase-input{
  }
  .MuiOutlinedInput-notchedOutline {
    background-color: #F7F7F7;
    border-radius: 3px;
    border: 0;
  }
  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    background-color: #FAFAFA;
  }
}
