:local(.styles) {

  .Home_heroGradient__hPNv9 {
    min-height: 100vh;
    height: 100%;
    width: 100vw;
    background: -moz-linear-gradient(335deg,#121212 21.2%,hsla(0,0%,7%,.75) 44.88%,hsla(0,0%,7%,0) 89.75%);
    background: linear-gradient(115deg,#121212 21.2%,hsla(0,0%,7%,.75) 44.88%,hsla(0,0%,7%,0) 89.75%);
    position: absolute;
    z-index: -1;
  }

  .landing-h2 {
    color: $white;
  }
  .landing-header {
    display: none;
  }

  .section {
    text-align: center;
  }
  .process-section {
    background-color: $creolGrey;
  }
  .benefits-section {
    background-color: $primary;
  }
  .faq-section {
    background-color: $primary;

  }
  .products-section {
    background-color: $primary;
  }
  .question-button {
    color: $white;
    background-color: $primary;
    border-radius: 15px;
    width: 300px;
    font-family: CenturyGothic-Bold,sans-serif;
    font-size: 18px;
    line-height: 1.3;
    text-transform: none;
  }
  .product-button {
    min-width: 200px;
    border-radius: 15px;
    font-family: CenturyGothic-Bold,sans-serif;
    font-size: 18px;
    line-height: 1.3;
    text-transform: none;
  }
  .results-h1 {
    color: $primary;
  }
  .results-h3 {
    color: $primary;
  }
  .tab-names {
    display: none;
  }
  @media (max-width: 500px) {
    .results-section {
      min-height: 726px;
    }
    .flight-options {
      min-width: 100%;
      padding-top: 20%;
    }
  }
  .progress-icon {
    position: fixed;
    margin: auto;
    top: 40px;
    visibility: hidden;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .progress-icon-active {
    position: fixed;
    margin: auto;
    top: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
    justify-items: center;
  }
  .footprint-display {
    text-align: center;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0% auto;
    top: 110px;
    z-index: 6;
    width: 120px;
    height: 120px;
    justify-content: center;
  }
  .category-display {
    text-align: right;
    position: fixed;
    right: 5%;
    bottom: 8%;
    z-index: 6;
    justify-content: center;
    opacity: 0.15;
  }
  .circular-progress-background {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0% auto;
    z-index: 1;
    top: 80px;
  }
  .circular-progress-transport {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0% auto;
    z-index: 5;
    top: 80px;
  }
  .circular-progress-energy {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0% auto;
    z-index: 4;
    top: 80px;
  }
  .circular-progress-food {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0% auto;
    z-index: 3;
    top: 80px;
  }
  .circular-progress-extras {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0% auto;
    z-index: 2;
    top: 80px;
  }
  .footprint-text {
    color: #33972d;
    margin-bottom: 0;
    margin-top: 0;
  }
  .category-text {
    color: #33972d;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 5pc;
  }
  .previous-button {
    position: fixed;
    bottom: 5%;
    left: 5%;
    visibility: hidden;
  }
  .previous-button-active {
    position: fixed;
    bottom: 5%;
    left: 5%;
  }
  .discount-popup {
    visibility: hidden;
  }
  .results-value {
    font-size: 72pt;
    text-align: center;
    justify-content: center;
    margin-bottom: 0;
  }
  .results-unit {
    font-size: 32pt;
    text-align: center;
    justify-content: center;
    margin-top: 0;
  }
  .results-container {
    visibility: hidden;
  }
  .results-container-active {
  }
  .slider {
    width: 70%
  }
  .conversion-h1 {
    font-size: 82pt;
    color: #33972d;
    margin: 0;
  }
  .footer {
    position: fixed;
    bottom: 0%;
    padding: 16px;
  }
  .footer-button {
    color: grey;
  }
  @media (max-width: 500px) {
    .footer {
      display: none;
    }
  }
  @media (max-height: 700px) {
    .logo-header {
      display: none;
    }
  }
}
