@import './styles/third-party/normalize';
@import '../../configs/theme/config-styles';
@import './styles/typography';
@import './styles/links';
@import './styles/animations';

/* global styles go here */
:global(body) {
  background: $white;
  color: $darkGrey35;
  font-family: 'Inter', sans-serif;

  .container {
    max-width: 860px;
    padding: 20px;
    margin: 0 auto;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    list-style-position: outside;
  }
  .spans {
    font-family: CenturyGothic-Bold, sans-serif;
    color: $primary;
    width: 100%;
  }
  .app-shell {
    display: inline-block;
    height: 86vh;
    width: 100%;
    margin-top: 65px;
    background-color: transparent;
  }

  @media (max-width: 500px) {
    .app-shell {
      margin-top: 65px;
    }
    // This is to fix the Grid issues with Material UI
    .MuiGrid-spacing-xs-1{
      width: inherit!important;
      margin: auto!important;
    }
    .MuiGrid-spacing-xs-3 {
      width: inherit!important;
      margin: auto!important;
    }
    .MuiGrid-spacing-xs-5 {
      width: inherit!important;
      margin: auto!important;
    }
  }
  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    background: #dadada;

  }
  #fp-nav ul li .fp-tooltip {
    font-family: CenturyGothic, sans-serif;
    font-size: 16px;
    top: -7px;
    color: #dadada;
  }

  .fp-viewing-Roadmap #fp-nav ul li .fp-tooltip {
    color: $primary;
  }

}
