:local(.styles) {
  .root {
    max-width: 100%;
    color: $primary;
    width: 100%;
    background-color: $nftbkgd;
  }
  .media {
    padding-top: 56.25%; // 16:9
  }
  .nft-btn {
    text-align: center;
  }
  .avatar {
    background-color: $primary;
  }
}



